<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorldCupForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorldCupForm.Properties.Settings>
            <setting name="GenderSetting" serializeAs="String">
                <value>men</value>
            </setting>
            <setting name="CultureSetting" serializeAs="String">
                <value>en-gb</value>
            </setting>
            <setting name="DataModeSetting" serializeAs="String">
                <value>API</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FavTeam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FavPlayers" serializeAs="String">
                <value />
            </setting>
        </WorldCupForm.Properties.Settings>
    </userSettings>
</configuration>